*
{
    margin: 0;
    padding: 0;
    
}

.nav
{
    width: 100%;
    flex-direction: row;
    position: fixed;
    display: flex;
background-color: black
/*    flex-flow: column; for media query */
}
.nav a{
    flex: 1;
    text-decoration: none;
    color: black;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
    }
.nav a:hover{
    cursor: pointer;
    background-color: dodgerblue;
}
#menu {
    display:none;
    position: fixed;
    right: 30px;
    top: 5px;
    cursor: pointer;
}

#menu img {
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 900px) {

    .nav 
    {
        flex-direction: column;
        display: none;
    
    }
    .nav a{
        padding: 10px;
    }
#menu{
    display: block;
}
}


































/*

* {
    padding: 0;
    margin: 0;
   
}

.nav {
    position: fixed;
    color: black;
    width: 100%;
    display: flex;   
    background-color: black;


}



.nav li {
    flex: 1;
}

.nav li a {
    display: block;
    font-size: 30px;
    padding-top: 10px;
    text-decoration: none;
    font-weight: 400;
    color:white;
    text-align: center;
   
}

.nav li a:hover {
    border-bottom: .5px solid red;

}



#menu {
    display: none;
    position: fixed;
    right: 30px;
    top: 5px;
}

#menu img {
    width: 30px;
    height: 30px;
}

@media screen and (max-width: 900px) {
    .nav {
        
      flex-direction: column;
        flex-flow: column;

    }
    .nav li {
        
       
        display: block;
    }
    .nav li a {
        text-align: center;
    }


    #menu {
        display: block;
    }
    #navbar {
        display: none;
    }
}
*/
