* {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: Poppins;
    margin: 0;
    padding: 0;
    height: 100%;;
    top: 0;
    /* background-color: #fdfdfd */
}

.main-heading{
    font-size: 5em;
    margin: 0;
    padding: 17%;
    color: black;
}
#landing-page {
    /*    background-image:url(/images/adventure-albay-clouds-672358.jpg);*/
    background: url("../images/adventure-albay-clouds-672358.jpg") 50% 50% no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#landing-page h2{
    margin: 0;
    padding-top: 220px;
    font-size: 5em;
    color: black;
    text-align: center;
}

.subHeading {
    margin: auto;
    padding: 2.5%;
    margin: 0 0 20px 0;
    color: gray;
    font-size: 1.6em;
    font-weight: 200;
    text-align: center;
    border: .1px solid gainsboro;
}

.placeName {
    margin: 10px;
    font-size: 1.4em;
    font-weight: 200;
}

#mainSection .container {
    width: 80%;
    text-align: center;
}

.cardContainer {
    padding: 20px 40px;
}

.card .overlay {
    background: none;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    border-radius: 50px;
    width: 100%;
    border: 10px solid white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card:hover .overlay {
    background: rgba(0, 0, 0, 0.4);
}

.card .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.card .buttons .links {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    margin: 0 5px;
    padding: 12px 8px;
    position: relative;
    color: transparent;
    border: 1px solid white;
}

.card:hover .buttons .links {
    transition: 0.5s;
    opacity: 0.9;
    color: white;
    background: rgba(0, 0, 0, .8);
}

.card:hover .overlay {
    opacity: 1;
}

.cardContainer img {
    width: 100%;
    height: 370px;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 140, 186, 0.5);
    border-radius: 50px;
}

.oneImageInRow img {
    height: 85vh;
    max-width: 100%;
}

.cardContainer a {
    text-decoration: none;
}

.cardContainer:hover img {
    /*    animation: bloom ease-in-out 1s;
    */
    /*    -webkit-filter: blur(1.3px);
    */
}

/*
@keyframes bloom {
    0% {
        opacity: .2;
        filter: grayscale(1);
    }

    40% {
        opacity: .6;
        filter: grayscale(.5);
    }

    100% {
        opacity: 1;
        filter: grayscale(0);
    }
}*/

@media only screen and (max-width: 1199px) {
    .cardContainer {
        padding: 10px;
    }

    .cardContainer img {
        width: 95%;
        height: 50vw;
    }

    .card:hover .overlay {
        background: transparent;
    }

}

@media only screen and (max-width: 700px) {

    .card .buttons .links {
        padding: 6px 6px;
    }

    .card:hover .overlay {
        opacity: 0;
    }
    .cardContainer {
        width: 100%;
    }
    #landing-page h2{
        font-size: 3em;
    }
    .cardContainer img {
        max-width: 100%;
    }

    .cardContainer img {
        width: 90%;
        height: 60vw;
    }

    #mainSection .container {
        width: 90%;
    }

    .card .buttons .links {
        margin: 4px;
    }
    .cardContainer{
        padding: 5px;
        margin: 5px;
    }
    .card{
        padding: 5px;
    }
}

/* ---*** Footer ***--- */
.footer{
    background-color: rgba(0, 0,0, .95);
    height: auto;
    margin-bottom: 0px;
    margin-top:4%;
    font-family:serif;
    padding: 1%;
    padding-bottom:7%;
    text-align: center;
    color: deepskyblue;
}

.fa{
    width: 25px;
    height: 25px;
    padding: 25px;
    font-size: 20px;
}

.social-media{
    text-align: center;
}

.social-media a:hover{
    color: white;
    text-decoration: none;
}

.footer .row h4{
    color: white;
    font-size: 20px;
    padding: 5px;
}

.footer div span{
    font-size:1.4em;
}

.footer .aboutFooter{
    text-align: justify;
}
.contactDetails p{
    padding: 5px
}

@media(max-width:700px){
    .footer .row div{
        margin-top: 10px;
        padding-top: 10px
    }
}