* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Poppins;

    /* background-color: #fdfdfd */
}

#landing-page {
    /*    background-image:url(/images/adventure-albay-clouds-672358.jpg);*/
    background: url("../images/adventure-albay-clouds-672358.jpg") 50% 50% no-repeat;
    background-size: cover;
    max-width: 100%;
    height: 100vh;
}

#landing-page h2 {
    margin: 0;
    padding-top: 220px;
    font-size: 5em;
    color: black;
    text-align: center;
}

.subHeading {
    background-color: dodgerblue;
    margin: auto;
    padding: 15px;
    margin: 40px;
    color: white;
    font-size: 1.6em;
    font-weight: 100;
    text-align: center;
}

.placeName {
    color: black;
    margin: 10px;
}

#mainSection .container {
    width: 80%;
    text-align: center;
}

.cardContainer {
    padding: 20px 40px;
}

.card .overlay {
    background: none;
    height: 100%;
    position: absolute;
    top: 0;
    opacity: 0;
    border-radius: 50px;
    width: 100%;
    border: 10px solid white;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.card:hover .overlay {
    background: rgba(0, 0, 0, 0.4);
}

.card .buttons {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    transition: 0.5s;
}

.card .buttons .links {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    display: inline-block;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    opacity: 0;
    margin: 0 5px;
    padding: 12px 8px;
    position: relative;
    color: transparent;
    border: 1px solid white;
}

.card:hover .buttons .links {
    transition: 0.5s;
    opacity: 0.9;
    color: white;
    background: rgba(0, 0, 0, .8);
}

.card:hover .overlay {
    opacity: 1;
}

.cardContainer img {
    width: 100%;
    height: 370px;
    padding: 10px;
    box-shadow: 0 0 10px 1px rgba(0, 140, 186, 0.5);
    border-radius: 50px;
}

.oneImageInRow img {
    height: 85vh;
    max-width: 100%;
}

.cardContainer a {
    text-decoration: none;
}

.cardContainer:hover img {
    /*    animation: bloom ease-in-out 1s;
    */
    /*    -webkit-filter: blur(1.3px);
    */
}

/*
@keyframes bloom {
    0% {
        opacity: .2;
        filter: grayscale(1);
    }

    40% {
        opacity: .6;
        filter: grayscale(.5);
    }

    100% {
        opacity: 1;
        filter: grayscale(0);
    }
}*/

@media only screen and (max-width: 1199px) {
    .cardContainer {
        padding: 30px;
    }

    .cardContainer img {
        width: 90%;
        height: 50vw;
    }

    .card:hover .overlay {
        background: transparent;

    }

}

@media only screen and (max-width: 700px) {

    .cardContainer {
        padding: 0;
        max-width: 100%;
        margin: auto;
    }

    .cardContainer img {
        max-width: 100%;

    }

    .cardContainer img {
        width: 90%;
        height: 60vw;
    }

    #mainSection .container {
        width: 90%;
    }

    .card .buttons .links {
        margin: 4px;
    }


}
