*
{
    margin: 0;
    padding: 0;
    
}

.navbar
{
    width: 100%;
    flex-direction: row;
    position: fixed;
    display: flex;
    background-color: black
/*    flex-flow: column; for media query */
}
.navbar a{
    flex: 1;
    text-decoration: none;
    color: black;
    text-align: center;
    color: white;
    font-size: 25px;
    font-weight: 400;
    padding: 10px;
    }
.navbar a:hover{
    cursor: pointer;
    background-color: dodgerblue;
}
#menu {
    display:none;
    position: fixed;
    right: 30px;
    top: 5px;
    cursor: pointer;
}

#menu img {
    width: 30px;
    height: 30px;
}


@media screen and (max-width: 900px) {

    .nav 
    {
        flex-direction: column;
        display: none;
    
    }
    .nav a{
        padding: 10px;
    }
#menu{
    display: block;
}
}

